/*All elements, before each and after each, will have these property values*/
* {
  box-sizing: border-box; /*padding and border are factored into sizing of elements*/
  font-weight: normal;
}

html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
}

body {
  position: relative;
  display: none;
  padding: 50px 0px;
  background: #e3e0e0;
  font-family: "Noto Sans JP", sans-serif;
}

.calculator_grid {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  min-width: fit-content;
  max-width: fit-content;
  box-shadow: rgba(19, 19, 19, 0.2) 0px 7px 29px 0px;
  font-family: "Noto Sans JP", sans-serif;
}

.calculator_grid > button {
  cursor: pointer;
  border: 1.8px solid rgb(248, 248, 248);
  color: whitesmoke;
  font-family: inherit;
  outline: none;
  background-color: rgba(5, 5, 5, 0.98);
  overflow: hidden;
}

.calculator_grid > button:hover {
  border-color: rgb(255, 255, 0);
}

.span-two {
  grid-column-start: span 2;
}

.output {
  font-family: inherit;
  grid-column: 1 / -1;
  background-color: rgba(19, 19, 21, 0.98);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 1vmin;
  word-break: break-all; /*breaks text at the point of overflow*/
  overflow: hidden;
}

.output .previous_operand {
  color: rgba(255, 255, 255, 0.75);
}

.output .current_operand {
  color: whitesmoke;
}

@media screen and (min-width: 320px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calculator_grid {
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(6, 70px);
  }

  .output .previous_operand {
    font-size: 18px;
  }

  .output .current_operand {
    font-size: 20px;
  }

  .calculator_grid > button {
    font-size: 20px;
  }
}

@media screen and (min-width: 451px) {
  .calculator_grid {
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(6, 80px);
  }
  .output .previous_operand {
    font-size: 29px;
  }

  .output .current_operand {
    font-size: 31px;
  }

  .calculator_grid > button {
    font-size: 35px;
  }
}
