/*import Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Mochiy+Pop+P+One&family=Red+Hat+Mono:wght@300&display=swap");

/*All elements, before each and after each, will have these property values*/
* {
  box-sizing: border-box; /*padding and border are factored into sizing of elements*/
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
}

body {
  display: none;
  padding: 50px 0px;
  margin: 0;
  background: #e9e7e7;
}

.calculator_grid {
  margin: auto;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 50%;
  width: fit-content;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: inherit;
}

.calculator_grid > button {
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  background-color: rgba(215, 4, 4, 0.98);
}

.calculator_grid > button:hover {
  background-color: rgba(227, 54, 54, 0.98);
}

.span-two {
  grid-column-start: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 1vmin;
  word-break: break-all; /*breaks text at the point of overflow*/
}

.output .previous_operand {
  color: rgba(255, 255, 255, 0.75);
}

.output .current_operand {
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 450.99px) {
  body {
    display: block;
  }

  .calculator_grid {
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, minmax(50px, auto));
  }

  .output .previous_operand {
    font-size: 17px;
  }

  .output .current_operand {
    font-size: 20px;
  }

  .calculator_grid > button {
    font-size: 18px;
  }
}

@media screen and (min-width: 451px) {
  body {
    display: block;
  }
  .calculator_grid {
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, minmax(100px, auto));
  }
  .output .previous_operand {
    font-size: 48px;
  }

  .output .current_operand {
    font-size: 52px;
  }

  .calculator_grid > button {
    font-size: 50px;
  }
}
